<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871129232474-n3avlap91b5s03ra29n2uukmqcokduvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871129232474-n3avlap91b5s03ra29n2uukmqcokduvv</string>
	<key>API_KEY</key>
	<string>AIzaSyDv5EocOJwuuIOMje6VGFa1tyPQ1Eefe6M</string>
	<key>GCM_SENDER_ID</key>
	<string>871129232474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsConnect</string>
	<key>PROJECT_ID</key>
	<string>touchbase-b2faf</string>
	<key>STORAGE_BUCKET</key>
	<string>touchbase-b2faf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871129232474:ios:bdbc30eeba4fcf1e8a9463</string>
</dict>
</plist>